"Hello World!"

<ul>
  <% @random_numbers.each do |number| %>
  <li><%=number%></li>
  <%end%>
</ul>

<% @students.each do |student| %>
  <h1><%=student.name%></h1>
<%end%>

<% @students.each do |student| %>
  <h1><a href="<%=student.name%>"><%=student.name%></h1>
<%end%>

<% @students.each do |student| %>
  <h1><%=student.name%></h1>
<%end%>
